linkdingNetwork:
  webPort: 31000

linkdingConfig:
  imageSelector: plusImage
  enableAuthProxy: true
  authProxyUsernameHeader: HTTP_REMOTE_USER
  authProxyLogoutUrl: https://example.com/logout
  disableBackgroundTasks: true
  disableUrlValidation: true
  csrfTrustedOrigins:
    - https://example.com

linkdingStorage:
  data:
    type: pvc
  pgData:
    type: pvc
  pgBackup:
    type: emptyDir
    emptyDirConfig:
      medium: ""
      size: ""

  additionalStorages:
    - type: pvc
      mountPath: /data1
    - type: pvc
      mountPath: /data2
