jellyfinNetwork:
  webPort: 31000

jellyfinRunAs:
  user: 8675309
  group: 8675309

jellyfinStorage:
  config:
    type: pvc
  cache:
    type: pvc
  transcodes:
    type: emptyDir
    emptyDirConfig:
      medium: Memory
      size: 1

# Make sure installation don't fail when 0 GPU are assigned
jellyfinGPU:
  nvidia.com/gpu: 0
  intel.com/gpu: 0
# TODO: Test assigning GPUs on a GPU-enabled system
