ddnsStorage:
  data:
    type: hostPath
    hostPath: /mnt/{{ .Release.Name }}/data

# This disables probes.
# As we can't have for each provider
# an api key, we just run through CI
# for the linting.
ci: true

ddnsConfig:
  config:
    - provider: cloudflare
      host: "@"
      domain: example.com
      ipVersion: ""
      cloudflareZoneID: zoneid
      cloudflareTtl: 1
      cloudflareProxied: false
      cloudflareToken: token
    - provider: cloudflare
      host: "@"
      domain: example.com
      ipVersion: ""
      cloudflareZoneID: zoneid
      cloudflareTtl: 1
      cloudflareProxied: false
      cloudflareUserServiceKey: v1.0.0-abcdef
    - provider: cloudflare
      host: "@"
      domain: example.com
      ipVersion: ""
      cloudflareZoneID: zoneid
      cloudflareTtl: 1
      cloudflareEmail: email@example.com
      cloudflareApiKey: apikey
