image:
  repository: mumblevoip/mumble-server
  pullPolicy: IfNotPresent
  tag: v1.4.230

resources:
  limits:
    cpu: 4000m
    memory: 8Gi

ci: false

mumbleConfig:
  serverPassword: ''
  superUserPassword: ''
  iceSecretRead: ''
  iceSecretWrite: ''
  users: 100
  welcomeText: Welcome to Mumble!
  additionalEnvs: []
mumbleNetwork:
  serverPort: 30000
  icePort: 30001
  certificateID: 0
mumbleStorage:
  data:
    type: ixVolume
    datasetName: data
