image:
  repository: ghcr.io/onedr0p/lidarr-develop
  pullPolicy: IfNotPresent
  tag: 1.4.5.3639

resources:
  limits:
    cpu: 4000m
    memory: 8Gi

lidarrConfig:
  instanceName: Lidarr
  additionalEnvs: []
lidarrNetwork:
  webPort: 30014
  hostNetwork: false
lidarrRunAs:
  user: 568
  group: 568
lidarrStorage:
  config:
    type: ixVolume
    datasetName: config
  additionalStorages: []
