image:
  repository: linuxserver/deluge
  pullPolicy: IfNotPresent
  tag: '2.1.1'

resources:
  limits:
    cpu: 4000m
    memory: 8Gi

delugeConfig:
  additionalEnvs: []

delugeNetwork:
  hostNetwork: false
  webPort: 30038
  torrentPort: 30039
  exposeDaemon: false
  daemonPort: 58846

delugeID:
  user: 568
  group: 568

delugeStorage:
  config:
    type: ixVolume
    ixVolumeConfig:
      datasetName: config
  downloads:
    type: ixVolume
    ixVolumeConfig:
      datasetName: downloads
  additionalStorages: []

notes:
  custom: |
    Default credentials:
      - Username: admin
      - Password: deluge
